<app-title title="Cart Page" margin="1.5rem 0 0 2.5rem"></app-title>

<div class="container">
  <ul>
    <li *ngFor="let cartItem of cart.items">
      <div>
        <img [src]="cartItem.food.imageUrl" [alt]="cartItem.food.name" />
      </div>
      <div>
        <a routerLink="/food/{{ cartItem.food.id }}">
          {{ cartItem.food.name }}
        </a>
      </div>
      <div>
        <select
          #quantitySelect
          [value]="cartItem.quantity"
          (change)="changeQuantity(cartItem, quantitySelect.value)"
        >
          <option *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
            {{ i }}
          </option>
        </select>
      </div>
      <div>
        {{ cartItem.food.price | currency }}
      </div>

      <div>
        <button class="remove-button" (click)="removeFromCart(cartItem)">
          Remove
        </button>
      </div>
    </li>
  </ul>
</div>
